/*            Navbar                             */

//Links	
	$font-family:'Rajdhani', serifa;
	$font-size:25px;
	$font-color:#800000;
//Hover

 $corFundoHover:#000;
 $corFonteHover:#fff;
		

//Brand
	$brand-font-family:'Passion One', cursive;;
	$brand-font-size:45px;
	$brand-font-color:#800000;
	